VENV
Lib
share
Scripts/activate
Scripts/activate.bat
Scripts/Activate.ps1
Scripts/deactivate.bat
Scripts/f2py.exe
Scripts/fonttools.exe
Scripts/ipython.exe
Scripts/ipython3.exe
Scripts/jupyter-kernel.exe
Scripts/jupyter-kernelspec.exe
Scripts/jupyter-migrate.exe
Scripts/jupyter-run.exe
Scripts/jupyter-troubleshoot.exe
Scripts/jupyter.exe
Scripts/numba
Scripts/pip.exe
Scripts/pip3.10.exe
Scripts/pip3.exe
Scripts/pycc
Scripts/pyftmerge.exe
Scripts/pyftsubset.exe
Scripts/pygmentize.exe
Scripts/python.exe
Scripts/pythonw.exe
Scripts/pywin32_postinstall.py
Scripts/pywin32_testall.py
Scripts/tqdm.exe
Scripts/ttx.exe
Scripts/__pycache__/pywin32_postinstall.cpython-310.pyc
Scripts/__pycache__/pywin32_testall.cpython-310.pyc
pyvenv.cfg
